version: '3'
services:
  front-end:
    image: front-end:V10
    build:
      context: ./front-end
    ports:
      - "3000:3000"
    volumes:
      - ./front-end:/usr/src/app/front-end
    networks:
      - mern-app
  server:
   image: server-end:V14
   build:
     context: ./server
   ports:
     - "5000:5000"
   volumes:
     - ./server:/usr/src/app/server
     - /usr/src/app/server/node_modules
   networks:
     - mern-app

    


networks:
  mern-app:
    driver: bridge


