:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}

.expese-layout {
	padding: 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

h4 {
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}
.expense {
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.expense:hover {
	opacity: 0.8;
}
.expense .text{
  font-size: 20px;
}
.expense .price{
	font-size: 20px;
	margin-left: 50px;
}
.expense .delete-expense {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #AF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.navbar{
  background-color: gray;
  display: flex;
  color:white;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.site-title {
  font-size: 2rem;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li.active {
  background-color: #555;
}

.navbar li:hover {
  background-color: #777;
}
.about-devs{
	padding: 32px;
}
.dev-entry
{
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}