@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');

:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Fira Sans", sans-serif;
}

body {
	font-family: 'Noto Sans Linear B', sans-serif;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
}


.home-page{
	text-align: center;
	align-items: center;
	justify-content: center;
}


/*Expenge Page CSS */
.expese-layout {
	padding: 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
}

.expense {
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.expense:hover {
	opacity: 0.8;
}
.expense .text{
  font-size: 20px;
}
.expense .price{
	font-size: 20px;
	margin-left: 50px;
}
.expense .delete-expense {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #AF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

/*Navbar CSS*/
.navbar{
  background-color: darkgrey;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 20px 20px;
}


.logo {
	max-width: 250px;
}
.site-title {
  font-size: large;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: inherit;
  font-family: 'Noto Sans Linear B', sans-serif;
  font-size: large;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.navbar li.active {
  background-color: #555;
}

.navbar li:hover {
  background-color: #777;
}
.dev-entry
{
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}
.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 64px;
	height: 64px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
	color: var(--light);
	background-color: var(--primary);
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
	cursor: pointer;
}


/*Image of guy in the home screen*/
.image-flexBox { 
	display: flex;
	align-items: center;
	margin-right: 50px;
  }


.homeButtons {
	font-family: 'Noto Sans Linear B', sans-serif;
	font-size: 30px;
	margin: 30px;
	border-radius: 30px;
	padding: 10px;
	background-color: darkgray;
}

.homeButtons:hover{
	background-color: black;
	color: white;
}

.welcomeDiv {
	background-image: url('https://i.imgur.com/ofgmYoO.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
	align-items: center;

}

.welcomeDiv h1 {
	font-family: 'Kanit', sans-serif;
	font-size: 50px;
}

.welcomeTextBox{
	width: 500px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px;
	margin-left: 50px;
	border-radius: 50px;
}

.welcomeTextBox img{
	max-width: 80%;
}
.welcomeDiv h1 {
	padding-top: 50px;
}

.featureStrip{
	height: 100px;
	background-color: darkgray;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
}

/* About Page */
.about-devs{
	background-size: contain;
	background-repeat: no-repeat;
	/*
	background-image: url('https://i.imgur.com/uaHWQXd.jpg');
	*/
}

.aboutHeader{
	padding-top: 40px;
	text-align: center;
}
.aboutBox{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.memberCard {
	align-items: center;
	margin: 20px;
}

.cardContent{
	text-align: center;
	font-size: 20px;
}

.memberCard img {
	align-items: center;
	max-width: 40%;
	text-align: center;
}

.closePopup{
	cursor: pointer;
}

